<div *ngIf="loader">
    <img class="loadercls" src="../../../assets/loader.gif"/>
  </div>

<div *ngIf="step=='basicInfo' &&!loader">
    <h3>Basic Information</h3>
    <div class="row align-row">
    <div class="align-vertical col-lg-3">
    <label>Exam Name</label>
    <input style="height:35px" type="text" class="form-control" [(ngModel)]="ExamName" disabled />
    </div>
    <div class="align-vertical col-lg-3">
    <label> Exam Level</label>
    <input style="height:35px" type="text" class="form-control" [(ngModel)]="Examlevel" disabled />
    </div>
    <div class="align-vertical col-lg-3">
    <label>
      Class*
    </label>
    <input type="text" id="class" class="form-control" style="height:35px" [(ngModel)]="Classes"/>
    <p>
      Enter Classes that give the exam comma seperated (eg:11,12,12+)
    </p>
    </div>
    </div>
    <div>
      <a style="cursor: pointer;" (click)="openModal('questionModal')">
        <img src="../../../../../assets/images/icons/circle-plus.png" class="add-btn" alt="add new subject"/>
        <p class="text-sub">Add Subjects</p>
      </a>
    </div>
      <table>
        <thead>
        <tr>
          <th>Subject Code</th>
          <th>Subject Name</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody *ngIf="SubjectList.length>0">
        <tr *ngFor="let subject of SubjectList;let i=index">
          <td>{{subject.Subjectcode}}</td>
          <td>{{subject.Subjectname}}</td>
          <td><button class="primary col-sm-3" mat-flat-button color="primary" (click)="openChaptersList(subject)">Update</button></td>
        </tr>
    </tbody>
    <div *ngIf="SubjectList.length>0">
        <button class="nxt-btn col-sm-3" mat-flat-button color="primary" (click)="StepTo('SubjectConfig')">Next</button>
    </div>
    <tbody *ngIf="SubjectList.length==0">
        <div class="emptyState">
            <div class="emptyState__visual">
                <img src="../../../../../assets/images/icons/hex.png"/>
            </div>
        
            <h2 class="emptyState__title">
                No Subjects Added Yet!!
            </h2>
            <div class="emptyState__description">
                Start Adding the subjects
            </div>
        </div>
    </tbody>
      </table>
      <div class="modal" id="questionModal">
        <article class="modal-container">
            <header class="modal-container-header">
                <h1 class="modal-container-title">
                    <img src="../../../../../assets/images/icons/clipboard.png" style="width: 10%;"/>
                    Configure a subject
                </h1>
                <button class="icon-button" (click)="closeModal('questionModal')">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path fill="currentColor" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
                    </svg>
                </button>
              
            </header>
            <section class="modal-container-body rtf">
                <div class="row">
                  <a style="cursor: pointer;" class="addnew" *ngIf="!opened" (click)="openCloseAddSubjectField()">
                    <img src="../../../../../assets/images/icons/circle-plus.png" class="add-btn addnewSub" alt="add new subject"/>
                    <p class="text-sub">Add New Subject</p>
                  </a>
                  <div *ngIf="opened" class="row" style="display:flex;color:red;justify-content: space-between;position:relative;left:5%;align-items: center;">
                  <input type="text" class="form-control col-md-3" [(ngModel)]="subjectName" placeholder="Subject Name"/>
                  <input type="text" class="form-control col-md-3" style="position:relative;left:5%" [(ngModel)]="subjectCode" placeholder="Subject Code"/>
                  <button class="form-control col-md-3 btncreate" style="position:relative;left:9%" color="primary" (click)="CreateSubject()">Create</button>
                  <a (click)="openCloseAddSubjectField()" class="col-sm-3" style="cursor: pointer;position:relative;left:8%">X</a>
                  </div>
                  <label class="col-lg-12">
                    Select Subjects
                  </label>
                  <mat-select [(value)]="SubjectSelected" multiple="multiple" placeholder="Select Subjects that come in {{ExamName}}">
                    <mat-option value="" disabled>Please select</mat-option>
                    <mat-option *ngFor="let subject of subjectList;let i=index" value="{{stringify(subject)}}">{{subject.data.Subjectname}}</mat-option>
                  </mat-select>
                  </div>
            </section>
            <footer class="modal-container-footer">
                <button class="nxt-btn col-sm-3" mat-flat-button color="primary" (click)="AddSubjects()">Submit</button>
            </footer>
        </article>
    </div>
    </div>
    
    <div *ngIf="step=='SubjectConfig'&&!loader">
    <h3>Subject Section Configuration</h3>
    <div class="align-right" (click)="StepTo('basicInfo')">
        <img class="back-arrow" src="../../../../../assets/images/icons/arrow-left.png"/>
        <span>Back</span>
    </div>

    <mat-expansion-panel *ngFor="let subject of SubjectList;let j=index">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: bolder;">
            <h2 style="font-size:1rem">{{subject.Subjectname}}</h2>
          </mat-panel-title>
          <mat-panel-description>
            {{subject.Subjectcode}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="margin-bottom:3%">
              <button mat-button (click)="addRow(j)" class="add-row-btn" style="border: 1px solid #616161;">Add Row +</button>
              <table>
                <thead>
                  <tr>
                    <th>Type of Question</th>
                    <th>Number of Questions</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subject of subjects[j]; let i = index">
                    <td>
                        <mat-select class="form-control" [(ngModel)]="subject.section" (selectionChange)="OnSelectSectionType($event,i,j)">
                            <mat-option value="" selected>Please Select</mat-option>
                            <mat-option value="mcq_single">MCQs(Single Correct)</mat-option>
                            <mat-option value="mcq_multi">MCQ(Multi Correct)</mat-option>
                            <mat-option value="subjective">Subjective</mat-option>
                            <mat-option value="reasoning">Reasoning</mat-option>
                          </mat-select>
                    </td>
                    <td>
                        <input class="form-control" type="text" [(ngModel)]="subject.numQuestions" (blur)="onChangeNoOfQ($event,i,j)" />
                    </td>
                    <td><mat-icon class="delete" (click)="removeRow(j,i)">delete_forever</mat-icon></td>

                  </tr>
                </tbody>
              </table>
        </div>
        
      </mat-expansion-panel>

      <label class="align-upload-text upload-txt">
        Upload past 10 years Question papers*
    </label>
    <div class="align-upload-text">
        <div id="drag_zone" class="file-upload-wrapper">
      Upload Files
      <input type="file" multiple (change)="uploadFile($event)"/>
        <mat-list style="display: flex;">
          <mat-list-item style="border: 1px solid #616161;border-radius: 10px;" *ngFor="let file of selectedfiles;let i=index">
            <div mat-line>{{file.name}}</div>
            <div>
              <mat-icon style="cursor: pointer;" (click)="deleteFile(file,i)">delete</mat-icon>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
    </div>
</div>
<h3 *ngIf="selectedfiles.length>0" style="margin-top:4%">Please select a template of uploaded PDF</h3>
<div *ngIf="selectedfiles.length>0" style="display: flex;margin-top: 10%;">
  <div style="display:flex;flex-direction: column;">
    <span>Template 1</span>
    <img src="../../../assets/images/templates/template1.png" style="width:75%" />
    <input style="margin: top 3%;" type="radio" value="template1" (change)="OnSelectTemplate($event)"/>
  </div>
  <div style="display:flex;flex-direction: column;">
    <span>Template 2</span>
    <img style="width:75%;" src="../../../assets/images/templates/template2.png" />
    <input type="radio" style="margin-top:3%"  value="template2" (change)="OnSelectTemplate($event)"/>
  </div>
</div>
    <p style="color:red;font-size:larger;font-weight:bold;margin-top:5%">{{subjectSectionError}}
    </p>
    <p style="color:red;font-size:larger;font-weight:bold;margin-top:5%">{{uploadError}}</p>
      <div>
        <button class="col-sm-3 finish-btn" mat-flat-button color="primary" (click)="Submit()">Finish</button>
    </div>
    </div>

    <div *ngIf="step=='ChapterConfigSubject' &&!loader">
      <div class="align-right" (click)="StepTo('basicInfo')">
        <img class="back-arrow" src="../../../../../assets/images/icons/arrow-left.png"/>
        <span>Back</span>
    </div>
      <h3>
        Chapters List
      </h3>
      <div style="display:flex">
      <h5>
        {{ExamName}} >
      </h5>
      <h5>
        {{SubjectName}}
      </h5>
    </div>
    <div>
      <button class="form-control col-lg-3" style="float:right;margin-right:3%;width:30%;background:rgba(103, 148, 245, 0.813);color:white" color="primary" (click)="openModal('chapterModal')">Add Chapter</button>
    </div>
    <table>
      <thead>
      <tr>
        <th>Sr No.</th>
        <th>Chapter Code</th>
        <th>Chapter Name</th>
        <!-- <th>Number Of Questions</th> -->
        <th>Action</th>
      </tr>
  </thead>
  <tbody *ngIf="ChapterList.length>0">
      <tr *ngFor="let chapter of ChapterList;let i=index">
        <td>
          {{i+1}}
        </td>
        <td class="tbleCpt{{Stringify(i)}}">
          <span>{{chapter.ChapterCode}}</span>
        </td>
        <td class="tbleCpt{{Stringify(i)}}">
          <span>{{chapter.ChapterName}}</span>
        </td>
        <!-- <td *ngIf="chapter.qCount!=undefined" class="tbleCpt{{Stringify(i)}}">
          <span>{{chapter.qCount}}</span>
        </td> -->
        <td class="tbleCpt{{Stringify(i)}}">
          <img src="../../../../../assets/images/icons/pencil.png" style="cursor:pointer" (click)="UpdateChapter(chapter,i)"/>
          <a style="color:red;font-weight:bold;font-size:x-large;cursor: pointer;" (click)="deleteChapter(chapter)">X</a>
          <!-- <button class="primary col-sm-3" mat-flat-button color="primary" (click)="UpdateChapter(chapter,i)">Update</button> -->
        </td>
      </tr>
  </tbody>
  <!-- <div *ngIf="ChapterList.length>0">
      <button class="nxt-btn col-sm-3" mat-flat-button color="primary" (click)="StepTo('SubjectConfig')">back</button>
  </div> -->
  <tbody *ngIf="ChapterList.length==0">
      <div class="emptyState">
          <div class="emptyState__visual">
              <img src="../../../../../assets/images/icons/hex.png"/>
          </div>
      
          <h2 class="emptyState__title">
              No Chapters Added Yet!!
          </h2>
          <div class="emptyState__description">
              Start Adding the Chapters for {{SubjectName}}
          </div>
      </div>
  </tbody>
    </table>
    <div class="modal" id="chapterModal">
      <article class="modal-container">
          <header class="modal-container-header">
              <h1 class="modal-container-title">
                  <img src="../../../../../assets/images/icons/clipboard.png" style="width: 10%;"/>
                  Create Chapter
                </h1>
              <button class="icon-button" (click)="closeModal('chapterModal')">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path fill="currentColor" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
                  </svg>
              </button>
            
          </header>
          <section class="modal-container-body rtf">
              <div>
                <div>
                <input type="text" class="form-control col-lg-12" [(ngModel)]="chptcode" placeholder="Chapter Code"/>
                <br>
                <input type="text" class="form-control col-lg-12" [(ngModel)]="chptName" placeholder="Chapter name"/>
                </div>
                
                </div>
          </section>
          <footer class="modal-container-footer">
              <button *ngIf="!editchpt" class="nxt-btn col-sm-3" mat-flat-button color="primary" (click)="createChapter()">Create</button>
              <button *ngIf="editchpt" class="nxt-btn col-sm-3" mat-flat-button color="primary" (click)="UpdateChapterAPI()">Update</button>
          </footer>
      </article>
  </div>
    </div>

