<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
  
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="../../../../assets/images/icons/logo.svg"
                class="align-middle m-2"
                alt="logo"
                style="width: 50%;"
              />
            </a>
          </div>
          <span style="color: red; margin: auto;margin-left: 30%;" *ngIf="UserNotfound">
            Wrong Credentials!!
          </span>
          <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
             
            </div>
            <div class="col-12 col-sm-6">
            
            </div>
          </div>
          <!-- <form class="m-t-30"> -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Email</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [(ngModel)]="userName" required/>
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password"  [(ngModel)]="password" required/>
            </mat-form-field>

            <!-- <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a
                [routerLink]="['/']"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                >Forgot Password ?</a
              >
            </div> -->
            <button mat-flat-button color="primary" (click)="login()" class="w-100" disabled="{{disableLogin}}">
              Sign In
            </button>
            
            <!-- input -->
          <!-- </form> -->
          <!-- <span class="d-block f-w-500 text-center m-t-24"
            >Want to associate with us?
            <a
              href="https://form.jotform.com/231720900673148"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Request an account</a
            >
          </span> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
