.heading{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.doanload{
    border: 2px solid #61616154;
    width: 20%;
    position: relative;
    left: 2%;
    border-radius: 20px;
    cursor: pointer;
}
.success:hover{
    background: rgba(5, 122, 5, 0.363);
    color:white
}
.danger:hover{
    background: rgba(183, 9, 9, 0.879);
    color: white;
}
.danger{
    position: relative;
    left: 10%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .optlabel{
    font-weight: bolder;
    border-bottom: 1px solid;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 2%;
  }
  .close-btn{
    float: right;
    font-weight: bolder;
    font-size: x-large;
    position: absolute;
    right: 24px;
    top: -12px;
  }
  .customradio{
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    position: relative;
    right: 3%;
    top: 20px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  
.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#000, 0.25);
    // display: none;
    height: 1800px;
}

.modal-container {
	// max-height: 70vh;
    // max-width: 500px;
	max-height:max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    top: 179px;
	@media (max-width: 600px) {
		width: 90%;
	}
	width:90%
}

.modal-container-header {
	padding: 16px 32px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-container-title {
	display: flex;
	align-items: center;
	gap: 8px;
	line-height: 1;
	font-weight: 700;
	font-size: 1.125;
	svg {
		width: 32px;
		height: 32px;
		color: #750550;
	}
}

.modal-container-body {
	padding: 24px 32px 51px;
	overflow-y: auto;
}
.customradio1{
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  position: relative;
  right: 3%;
}
.align-row{
  display: flex;
  flex-direction: row-reverse;
}
.work-hex{
  width: 35%;
  position: relative;
  left: 30%;
}
.no-data{
  display: flex;
    flex-direction: column;
    margin: auto;
}
.logo{
  /* Frame */

position: absolute;
width: 193.8px;
height: 106.63px;
left: calc(50% - 193.8px/2 + 9.4px);
top: calc(50% - 106.63px/2 - 28.69px);



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: -0.04%;



/* Group */

position: absolute;
left: 0%;
right: 23.92%;
top: 45.79%;
bottom: -0.04%;



/* Group */

position: absolute;
left: 0%;
right: 24.48%;
top: 45.79%;
bottom: 19.88%;



/* Vector */

position: absolute;
left: 0%;
right: 91.46%;
top: 46.28%;
bottom: 20.4%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 10.65%;
right: 81.48%;
top: 46.28%;
bottom: 20.37%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 20.48%;
right: 70.75%;
top: 45.83%;
bottom: 19.88%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 31.67%;
right: 59.77%;
top: 46.28%;
bottom: 20.4%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 42.34%;
right: 50.02%;
top: 46.28%;
bottom: 20.37%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 51.88%;
right: 40.25%;
top: 46.28%;
bottom: 20.37%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 61.84%;
right: 35.23%;
top: 46.28%;
bottom: 42.96%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 66.88%;
right: 24.48%;
top: 45.79%;
bottom: 19.88%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 27.98%;
right: 23.92%;
top: 84.18%;
bottom: -0.04%;



/* Vector */

position: absolute;
left: 27.98%;
right: 71.24%;
top: 84.77%;
bottom: 0.26%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 30.99%;
right: 63.25%;
top: 88.64%;
bottom: 0.22%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 38.28%;
right: 57.23%;
top: 88.72%;
bottom: 0.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 43.49%;
right: 52.05%;
top: 86%;
bottom: -0.04%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 49.73%;
right: 49.18%;
top: 84.18%;
bottom: 0.26%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 51.9%;
right: 43.63%;
top: 86%;
bottom: -0.04%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 58.07%;
right: 36.32%;
top: 88.87%;
bottom: 0.04%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 64.69%;
right: 30.85%;
top: 86%;
bottom: -0.04%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 70.26%;
right: 23.92%;
top: 88.61%;
bottom: 0.04%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 55.37%;
right: 0%;
top: 0%;
bottom: 18.84%;



/* Group */

position: absolute;
left: 55.37%;
right: 23.6%;
top: 0.04%;
bottom: 61.73%;



/* Vector */

position: absolute;
left: 55.37%;
right: 23.6%;
top: 0.04%;
bottom: 61.73%;

background: #8A5DFE;


/* Group */

position: absolute;
left: 59.98%;
right: 27.78%;
top: 7.84%;
bottom: 61.76%;



/* Vector */

position: absolute;
left: 59.98%;
right: 27.78%;
top: 15.18%;
bottom: 61.76%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 66.64%;
right: 31.75%;
top: 14.88%;
bottom: 77.62%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 65.03%;
right: 33.31%;
top: 15.99%;
bottom: 77.19%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 63.43%;
right: 34.89%;
top: 17.37%;
bottom: 77.38%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 67.38%;
right: 31.52%;
top: 7.84%;
bottom: 86.89%;

background: #FFB600;


/* Vector */

position: absolute;
left: 62.14%;
right: 36.13%;
top: 9.39%;
bottom: 85.79%;

background: #FFB600;


/* Vector */

position: absolute;
left: 64.86%;
right: 34.16%;
top: 8.45%;
bottom: 87.44%;

background: #FFB600;


/* Group */

position: absolute;
left: 78.96%;
right: 0%;
top: 42.89%;
bottom: 18.84%;



/* Vector */

position: absolute;
left: 78.96%;
right: 0%;
top: 42.89%;
bottom: 18.84%;

background: #FFB600;


/* Group */

position: absolute;
left: 84.06%;
right: 4.83%;
top: 48.25%;
bottom: 19.25%;



/* Group */

position: absolute;
left: 84.06%;
right: 4.83%;
top: 48.25%;
bottom: 19.25%;



/* Vector */

position: absolute;
left: 84.88%;
right: 12.43%;
top: 60.31%;
bottom: 36.19%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 84.06%;
right: 4.83%;
top: 48.25%;
bottom: 19.25%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 78.94%;
right: 0%;
top: 0%;
bottom: 61.73%;



/* Vector */

position: absolute;
left: 78.94%;
right: 0%;
top: 0%;
bottom: 61.73%;

background: #00E19B;


/* Vector */

position: absolute;
left: 80.79%;
right: 6.43%;
top: 10.92%;
bottom: 61.76%;

background: #FFFFFF;

}